.advantages {
  padding-top: 97px;
  padding-bottom: 82px;
  background-color: $color-light-grey;

  @include vp-1199 {
    padding-top: 91px;
    padding-bottom: 48px;
  }

  @include vp-767 {
    padding-top: 61px;
    padding-bottom: 50px;
  }
}

.advantages__container {
  @include vp-767 {
    padding: 0;
  }
}

.advantages h5 {
  margin: 0;
  margin-bottom: 13px;
  font-family: $ff-alumni-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 12px;
    font-size: 42px;
    line-height: 50px;
    transform: translateX(-10px);
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  margin: 0 auto;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 0.74fr 1fr;
  gap: 67px 44px;
  max-width: 1040px;

  @include vp-1199 {
    padding-left: 0;
    column-gap: 32px;
    row-gap: 6px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: center;
  }
}

.advantages__item {
  min-height: 150px;
  display: flex;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: center;
    width: 77%;
    gap: 3px;
  }
}

.advantages__item-inner {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  @include vp-767 {
    align-items: center;
    margin-bottom: 5px;
  }
}

.advantages__item-inner span {
  font-weight: 700;
  font-size: 71px;
  line-height: 95%;
  background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    font-size: 58px;
  }

  @include vp-767 {
    line-height: 88%;
  }
}

.advantages__item-inner small {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #2e35ac;
}

.advantages__item-content {
  padding-top: 3px;
  padding-right: 13px;

  @include vp-1199 {
    padding-right: 8px;
  }

  @include vp-767 {
    text-align: center;
    padding-top: 0;
    padding-right: 0;
  }
}

.advantages__item-content h5 {
  font-family: $ff-roboto;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  text-align: left;
  letter-spacing: 0;
  transform: none;

  @include vp-1199 {
    transform: none;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-family: $ff-roboto;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    transform: none;
    text-align: center;
  }
}

.advantages__item-content p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}

.advantages__item--square {
  position: relative;

  @include vp-767 {
    order: 1;
    margin-bottom: 9px;
  }
}

.advantages__item--square span {
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.advantages__item--square br {
  @include vp-1199 {
    display: none;
  }
}

.advantages__item--parking {
  position: relative;

  @include vp-767 {
    order: 2;
    margin-bottom: 30px;
  }
}

.advantages__item--square::after,
.advantages__item--parking::after {
  content: "";
  position: absolute;
  left: -17px;
  bottom: -27px;
  width: 99%;
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);

  @include vp-1199 {
    display: none;
  }
}

.advantages__item--parking::after {
  left: 0px;
  bottom: -26px;
  width: 100%;

  @include vp-1199 {
    display: none;
  }
}

.advantages__item--comfort {
  @include vp-767 {
    order: 4;
    margin-bottom: 8px;
  }
}

.advantages__item--experience {
  @include vp-767 {
    order: 5;
    margin-bottom: 9px;
    padding-right: 0;
    padding-left: 0;
  }
}

.advantages__item:last-of-type {
  @include vp-767 {
    margin-bottom: 0;
  }
}

.advantages__item--center {
  margin-top: 41px;
  margin-bottom: 57px;
  grid-row: 1/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  min-height: 307px;
  padding-right: 15px;
  padding-left: 13px;
  padding-top: 50px;
  padding-bottom: 15px;
  overflow-y: auto;
  text-align: center;
  background-color: $color-blue;
  color: $color-default-white;

  @include vp-1199 {
    margin: 0;
    gap: 13px;
    justify-self: center;
    transform: none;
    max-width: 65%;
    min-height: 239px;
    height: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 22px;
    padding-bottom: 44px;
  }

  @include vp-767 {
    max-width: 100%;
    min-height: 239px;
    gap: 4px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 37px;
    width: 100%;
    order: 3;
    margin-bottom: 30px;
  }
}

.advantages__item--center .advantages__item-content {
  padding: 0;

  @include vp-1199 {
    padding-right: 100px;
    padding-left: 100px;
  }

  @include vp-767 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.advantages__item--center span {
  background: unset;
  background-clip: unset;
  -webkit-text-fill-color: unset;
  font-weight: 700;
  font-size: 74px;
  line-height: 106%;
  color: $color-text-white;

  @include vp-1199 {
    background: unset;
    background-clip: unset;
    -webkit-text-fill-color: unset;
    font-weight: 700;
    font-size: 74px;
    line-height: 106%;
    color: $color-text-white;
  }

  @include vp-767 {
    background: unset;
    background-clip: unset;
    -webkit-text-fill-color: unset;
    font-weight: 700;
    font-size: 74px;
    line-height: 94%;
    color: $color-text-white;
  }
}

.advantages__item--center small {
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: $color-text-white;

  @include vp-1199 {
    font-size: 22px;
  }
}

.advantages__item--center p {
  color: $color-text-white;
}
