.btn {
  display: inline-flex;
  justify-content: center;
  padding: 20px 20px;
  font-family: $ff-roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-text-white;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;
  border: 3px solid $color-text-white;


  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
