.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 11px;
    flex-basis: 97px;
    transform: translateY(-10px);

    @include vp-1199 {
        transform: none;
      }

      @include vp-767 {
        flex-basis: auto;
        column-count: 2;
      }
}

.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $color-default-white;
}
